# ignore database files
*.db
*.db.bak

# ignore ini (legacy) files
*.ini

# ignore Python compiled files
*.pyc

# sample data
sampleData/

# .htaccess files
.htaccess

# output JSON files
*.json

# test script
test

# skyfield data files
*.bsp

# open vi files (swp)
*.swp
